body{
    background-image: url("images/background.jpeg");
    color: #140b0b;
    margin: 0; height: 100%; overflow: hidden
}

#welcome{
    font-size: 5rem;
    margin-top: 200px;
    margin-bottom: 400px;
    margin-left: 200px;
    color: #ffffff;
}

#genre-id{
    color: #ffffff;
}

.artist-column{
    margin-bottom: 20px;
}

.genre-size{
    border-radius: 10px;
    margin: 100px 20px 400px 20px;
    display: inline-block;
    text-align: center;
    font-size: 2rem;
    font-weight: bold;
    
}

#genre-id{
    margin-top: 20px;
    margin-left: 700px;
    font-size: 6rem;
    font-family: 'Dancing Script', cursive;
    font-size: 50px;
}

#artist-id{
    margin-left: 700px;
   font-size: 6rem;
}

#create-playlist-id{
    margin-left: 700px;
    font-size: 6rem;
}

#songs-id{
    margin-left: 700px;
    font-size: 6rem;
}

.nav-link{
    font-size: 2rem;
    color: #ffffff;
}

.hide {
    display: none;
}

.genre-name{
    margin-top: 20px;
    margin-bottom: 50px;
    margin-left: 25px;
}

.genreCenter,
.random{
    margin-left: 150px;
    margin-top: 20px;
}