body{
    background-image: url("images/background.jpeg");
    margin: 0; height: 100%; overflow: hidden;
}

.artist-name{
    font-size: 30px;
}

h6,
p{
    font-family: 'Dancing Script', cursive;
    font-size: 17px;
}

h4{
    font-family: 'Dancing Script', cursive;
    font-weight: bold;
}

img{
    width: 200px;
    height: 150px;
    
}

.artist-info{
    font-size: 20px;
}

.row{
    margin-top: 50px;
}

.search{
    margin-left: 400px;
}

.container{
    display:flex;
}

.hide{
    display:none;
} 

.nav-link{
    font-size: 2rem;
    color: #ffffff;
}

audio{
    width: 200px;
}

#logo{
    width: 50px;
    height: 50px;
}
 
#drake {
    float: top;
}