body{
    background-image: url("images/background.jpeg");
    color: #140b0b;
}

#welcome{
    font-size: 5rem;
    margin-top: 200px;
    margin-bottom: 400px;
    margin-left: 200px;
    color: #ffffff;
}

#genre-id{
    color: #ffffff;
}

.artist-name{
    /* color: #ffffff; */
}

.artist-column{
    margin-bottom: 20px;
}


.genre-size{
   
    border-radius: 10px;
    margin: 100px 20px 400px 20px;
    display: inline-block;
    text-align: center;
    font-size: 2rem;
    font-weight: bold;
    
}

.hip{
    width: 300px;
    height: 200px;
    background-color: darkgoldenrod; 
    position: relative;
    border-radius: 10px;
    /* margin-top: 20px; */
}
.pop{
    width: 300px;
    height: 200px;
    background-color: aqua; 
    position: relative;
    border-radius: 10px;
    /* margin-top: 20px; */
}

.rock{
    width: 300px;
    height: 200px;
    background-color: blueviolet;
    position: relative;
    border-radius: 10px;
    /* margin-top: 20px; */
}

.country{
    width: 300px;
    height: 200px;
    background-color: cornflowerblue;
    position: relative;
    border-radius: 10px;
    
}

.soul{
    width: 300px;
    height: 200px;
    background-color: darkslategray;
    position: relative;
    border-radius: 10px;
    
}

#genre-id{
    margin-left: 700px;
    font-size: 6rem;
}

#artist-id{
    margin-left: 700px;
   font-size: 6rem;
}

#create-playlist-id{
    margin-left: 700px;
    font-size: 6rem;
}

#songs-id{
    margin-left: 700px;
    font-size: 6rem;
}

.nav-link{
    font-size: 2rem;
    color: #ffffff;
}
.card{
    background-color: rgb(197, 159, 165);
    border: black 2px solid;
    border-radius: 30px 0px 30px 0px;
}
.card-title{
    font-size: 2rem;
}

.hide {
    display: none;
}