body{
    /* background-image: url("images/sun-music.jpg"); */
    /* background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcSKoddjVPjpwiHyJkI_aRvaPB7wsuw0lAaaETUcelvcjrbLOeEv"); */
}

.artist-name{
    font-size: 30px;
}

img{
    width: 200px;
    height: 150px;
    
}

.artist-info{
    font-size: 20px;
}

.row{
    margin-top: 50px;
}

.search{
margin-left: 400px;
}

.hide{
    display:none
}