body{
    
    background-image: url("images/background.jpeg");
    }

.artist-name{
    font-size: 30px;
}

img{
    width: 200px;
    height: 150px;
    
}

.artist-info{
    font-size: 20px;
}

.row{
    margin-top: 50px;
}

.search{
margin-left: 400px;
}

.container{
    display:flex;
}

.hide{
    display:none;
} 

.nav-link{
    font-size: 2rem;
    color: #ffffff;
}

audio{
width: 200px;
}